---
layout: layouts/base.njk
pagination:
  data: collections.tagListTr
  size: 1
  alias: entry
  addAllPagesToCollections: true
eleventyComputed:
  title: "#{{ entry.tag }}"
  description: "#{{ entry.tag }} etiketli yazılar."
permalink: "/tr/tags/{{ entry.tag | slugify }}/"
---
{% include "partials/tags.njk" %}
